airlinedata_tweets.json
{"flowContents":{"identifier":"0f9539c4-0d00-3a58-8f43-0f5b85820486","instanceIdentifier":"4819ac92-0188-1000-0000-00001fd145fd","name":"airlinedata_tweets","comments":"","position":{"x":256.0,"y":352.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d74527fa-f439-33ff-9a32-94e350fc8e59","instanceIdentifier":"80bc3bf1-1b87-13ab-b644-0be207de5684","name":"ListenTCP","comments":"","position":{"x":52.00001518823177,"y":123.49998607981303},"type":"org.apache.nifi.processors.standard.ListenTCP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.4-5"},"properties":{"Max Size of Socket Buffer":"1 MB","Max Number of TCP Connections":"2","Local Network Interface":null,"Max Batch Size":"1","Port":"#{listener_port}","max-receiving-threads":null,"Receive Buffer Size":"65507 B","Message Delimiter":"\\n","SSL Context Service":null,"Character Set":"UTF-8","Client Auth":"NONE","Max Size of Message Queue":"100000","pool-receive-buffers":"True"},"propertyDescriptors":{"Max Size of Socket Buffer":{"name":"Max Size of Socket Buffer","displayName":"Max Size of Socket Buffer","identifiesControllerService":false,"sensitive":false},"Max Number of TCP Connections":{"name":"Max Number of TCP Connections","displayName":"Max Number of Worker Threads","identifiesControllerService":false,"sensitive":false},"Local Network Interface":{"name":"Local Network Interface","displayName":"Local Network Interface","identifiesControllerService":false,"sensitive":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"max-receiving-threads":{"name":"max-receiving-threads","displayName":"Max Number of Receiving Message Handler Threads","identifiesControllerService":false,"sensitive":false},"Receive Buffer Size":{"name":"Receive Buffer Size","displayName":"Receive Buffer Size","identifiesControllerService":false,"sensitive":false},"Message Delimiter":{"name":"Message Delimiter","displayName":"Batching Message Delimiter","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Max Size of Message Queue":{"name":"Max Size of Message Queue","displayName":"Max Size of Message Queue","identifiesControllerService":false,"sensitive":false},"pool-receive-buffers":{"name":"pool-receive-buffers","displayName":"Pool Receive Buffers","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0f9539c4-0d00-3a58-8f43-0f5b85820486"},{"identifier":"b5332ddc-549f-340d-841f-32693f6656fc","instanceIdentifier":"306d31d7-137d-1682-aad7-41282aa9ff74","name":"PutSolrRecord","comments":"","position":{"x":712.0,"y":136.0},"type":"org.apache.nifi.processors.solr.PutSolrRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-solr-nar","version":"1.18.0.2.2.6.4-5"},"properties":{"Solr Update Path":"/update","Solr Socket Timeout":"10 seconds","ZooKeeper Connection Timeout":"10 seconds","kerberos-principal":"frothkoetter","Solr Maximum Connections":"10","ZooKeeper Client Timeout":"10 seconds","Fields To Index":null,"kerberos-credentials-service":null,"SSL Context Service":"4c1a54db-deb0-325f-922f-e9fa2cea7a8f","Solr Maximum Connections Per Host":"5","Username":null,"Batch Size":"15000","Solr Connection Timeout":"10 seconds","Collection":"#{solr_collection}","Solr Location":"#{solr_zk}","kerberos-user-service":null,"Solr Type":"Cloud","put-solr-record-record-reader":"3ca77384-fc74-3a85-9ddd-4e5ad616598b","Commit Within":"5000"},"propertyDescriptors":{"Solr Update Path":{"name":"Solr Update Path","displayName":"Solr Update Path","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Solr Socket Timeout":{"name":"Solr Socket Timeout","displayName":"Solr Socket Timeout","identifiesControllerService":false,"sensitive":false},"ZooKeeper Connection Timeout":{"name":"ZooKeeper Connection Timeout","displayName":"ZooKeeper Connection Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections":{"name":"Solr Maximum Connections","displayName":"Solr Maximum Connections","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Timeout":{"name":"ZooKeeper Client Timeout","displayName":"ZooKeeper Client Timeout","identifiesControllerService":false,"sensitive":false},"Fields To Index":{"name":"Fields To Index","displayName":"Fields To Index","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Solr Maximum Connections Per Host":{"name":"Solr Maximum Connections Per Host","displayName":"Solr Maximum Connections Per Host","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Basic Auth Username","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Solr Connection Timeout":{"name":"Solr Connection Timeout","displayName":"Solr Connection Timeout","identifiesControllerService":false,"sensitive":false},"Collection":{"name":"Collection","displayName":"Collection","identifiesControllerService":false,"sensitive":false},"Solr Location":{"name":"Solr Location","displayName":"Solr Location","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Solr Type":{"name":"Solr Type","displayName":"Solr Type","identifiesControllerService":false,"sensitive":false},"put-solr-record-record-reader":{"name":"put-solr-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Commit Within":{"name":"Commit Within","displayName":"Commit Within","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Basic Auth Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["connection_failure","success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0f9539c4-0d00-3a58-8f43-0f5b85820486"},{"identifier":"e4273a32-f3af-36f9-b047-6d2b68612ac5","instanceIdentifier":"31cb3557-b0f6-1762-b21a-cfd978d8549f","name":"ConvertRecord","comments":"","position":{"x":368.0,"y":392.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.4-5"},"properties":{"record-writer":"0989ace0-5c60-3b74-9204-fbaf3af8f8f4","record-reader":"769060ee-d68c-3858-bc01-2798ffe3e206","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0f9539c4-0d00-3a58-8f43-0f5b85820486"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3a6844b9-0111-3f77-9681-5f307ae767e8","instanceIdentifier":"481c1436-0188-1000-0000-00002cfef03d","name":"","source":{"id":"e4273a32-f3af-36f9-b047-6d2b68612ac5","type":"PROCESSOR","groupId":"0f9539c4-0d00-3a58-8f43-0f5b85820486","name":"ConvertRecord","comments":"","instanceIdentifier":"31cb3557-b0f6-1762-b21a-cfd978d8549f"},"destination":{"id":"b5332ddc-549f-340d-841f-32693f6656fc","type":"PROCESSOR","groupId":"0f9539c4-0d00-3a58-8f43-0f5b85820486","name":"PutSolrRecord","comments":"","instanceIdentifier":"306d31d7-137d-1682-aad7-41282aa9ff74"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0f9539c4-0d00-3a58-8f43-0f5b85820486"},{"identifier":"243b887c-8bcd-3460-8738-51c4a824b5b3","instanceIdentifier":"481bf3c4-0188-1000-0000-000068a8bd22","name":"","source":{"id":"d74527fa-f439-33ff-9a32-94e350fc8e59","type":"PROCESSOR","groupId":"0f9539c4-0d00-3a58-8f43-0f5b85820486","name":"ListenTCP","comments":"","instanceIdentifier":"80bc3bf1-1b87-13ab-b644-0be207de5684"},"destination":{"id":"e4273a32-f3af-36f9-b047-6d2b68612ac5","type":"PROCESSOR","groupId":"0f9539c4-0d00-3a58-8f43-0f5b85820486","name":"ConvertRecord","comments":"","instanceIdentifier":"31cb3557-b0f6-1762-b21a-cfd978d8549f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0f9539c4-0d00-3a58-8f43-0f5b85820486"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0989ace0-5c60-3b74-9204-fbaf3af8f8f4","instanceIdentifier":"48218b4c-0188-1000-0000-00004daa3267","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.2.6.4-5"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.4-5"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0f9539c4-0d00-3a58-8f43-0f5b85820486"},{"identifier":"4c1a54db-deb0-325f-922f-e9fa2cea7a8f","instanceIdentifier":"4508f307-0188-1000-ffff-ffffae59c3b6","name":"Default Truststore-only NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.18.0.2.2.6.4-5"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.4-5"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.4-5"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4819ac92-0188-1000-0000-00001fd145fd"},{"identifier":"769060ee-d68c-3858-bc01-2798ffe3e206","instanceIdentifier":"481e4f05-0188-1000-0000-000001c54cb4","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.2.6.4-5"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"#{payload_schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.4-5"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0f9539c4-0d00-3a58-8f43-0f5b85820486"},{"identifier":"3ca77384-fc74-3a85-9ddd-4e5ad616598b","instanceIdentifier":"4825242b-0188-1000-0000-00000e3d734a","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.2.6.4-5"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":"yyyy-MM-dd:HH:mm:ss","schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.4-5"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0f9539c4-0d00-3a58-8f43-0f5b85820486"}],"variables":{},"parameterContextName":"airlinedata_tweet","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"10 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"airlinedata_tweet":{"name":"airlinedata_tweet","parameters":[{"name":"solr_zk","description":"","sensitive":false,"provided":false,"value":"itz-search-demo-workerwithzookeeper0.se-sandb.a465-9q4k.cloudera.site:2181,itz-search-demo-workerwithzookeeper1.se-sandb.a465-9q4k.cloudera.site:2181,itz-search-demo-workerwithzookeeper2.se-sandb.a465-9q4k.cloudera.site:2181/solr"},{"name":"solr_collection","description":"","sensitive":false,"provided":false,"value":"airlinedata_tweets"},{"name":"workload_user_pwd","description":"","sensitive":true,"provided":false},{"name":"payload_schema","description":"","sensitive":false,"provided":false,"value":"{\n   \"namespace\": \"example.avro\",\n   \"type\": \"record\",\n   \"name\": \"jira_text\",\n   \"fields\": [ {\"name\": \"ts\", \"type\": \"string\"},\n      {\"name\": \"ip\", \"type\": \"string\"},\n      {\"name\": \"email\", \"type\": \"string\"},\n      {\"name\": \"username\", \"type\": \"string\"},\n      {\"name\": \"airport\", \"type\": \"string\"},\n      {\"name\": \"val1\", \"type\": \"int\"},\n      {\"name\": \"val2\", \"type\": \"int\"},\n      {\"name\": \"satz\", \"type\": \"string\"}\n   ] \n}"},{"name":"workload_user","description":"","sensitive":false,"provided":false,"value":"frothkoetter"},{"name":"listener_port","description":"","sensitive":false,"provided":false,"value":"63887"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}